body {
  background-color: #7c898f;
  color: #d4e8f2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 60px auto;
  max-width: 450px;
}

h1 {
  font-family: "Rock Salt", cursive;
  padding: 30px 0;
}

h4,
h5 {
  font-size: 16px;
  font-weight: 200;
}

h5 {
  padding-bottom: 25px;
}

.footer-txt {
  font-size: 13px;
  font-weight: 200;
}

.footer-txt .link {
  color: #ffffff;
  text-decoration: none;
}

/* CALCULATOR BOX */
.calculator-box {
  padding: 30px 40px;
  margin-bottom: 30px;
  border: 0.75px solid #b3c5ce;
  border-radius: 5px;
}

.calculator-box .input-number {
  max-width: 70px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 2px 5px;
}

.calculator-box .dropdown {
  width: 120px;
  border-radius: 5px;
  padding: 2px;
  outline: none;
}

.calculator-box .second-line {
  position: relative;
  left: 108px;
}

.calculator-box .btn {
  background-color: #7c898f;
  border: 1px solid #b3c5ce;
  border-radius: 5px;
  padding: 2px 8px;
  margin: 0 0 5px 44px;
  outline: none;
}

.fa-redo-alt {
  color: #b3c5ce;
}

.fa-search {
  color: #ffffff;
}

#result {
  text-align: center;
  margin: 30px 0 10px;
  padding: 10px;
  background-color: #b3c5ce;
  border-radius: 5px;
}

#result .result-txt {
  color: #7c898f;
  padding: 5px 0 0 0;
}

#result #output {
  color: #000000;
}
